@page "/mihistoria"

<h1>Mi historia</h1>

<p>A continuación les escribiré información relevante de mi vida.</p>

<br />

<div class="row">

    <!-- Formación -->
    <div class="col-md-4">
        <div class="card">
            <img src="images/laptop.jpg" class="card-img-top" alt="Formación">

            <div class="card-body">
                <h5 class="card-title">Formación</h5>

                <p class="card-text">
                    Cuento algo sobre mi formación profesional.
                </p>

                <button class="btn btn-primary">
                    Conocer más
                </button>
            </div>
        </div>
    </div>


    <!-- Hobbies -->
    <div class="col-md-4">
        <div class="card">
            <img src="images/computadora.jpg" class="card-img-top" alt="Hobbies">

            <div class="card-body">
                <h5 class="card-title">Hobbies</h5>

                <p class="card-text">
                    Cuento algo sobre mis hobbies.
                </p>

                <button class="btn btn-primary">
                    Conocer más
                </button>
            </div>
        </div>
    </div>


    <!-- Carrera -->
    <div class="col-md-4">
        <div class="card">
            <img src="images/pc.jpg" class="card-img-top" alt="Carrera">

            <div class="card-body">
                <h5 class="card-title">Mi carrera</h5>

                <p class="card-text">
                    Cuento algo sobre lo que espero de mi carrera.
                </p>

                <button class="btn btn-primary">
                    Conocer más
                </button>
            </div>
        </div>
    </div>

</div>